.input__wrapper {
display: flex;
flex-direction: row;
justify-content: space-between;

display: flex;
flex-direction: row;
align-items: center;
padding: 12px 8px;
gap: 4px;
width: 420px;
height: 48px;
box-sizing: border-box;
background: #EEEEEE;
border-radius: 12px;
border: none;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

text-align: start;
cursor: pointer;
color: #9C9C9C;
}

.input__left-block {
  display: flex;
  flex-direction: row;
  gap: 6px;
}

.input {
  display: flex;  
border: none;
color: #000000;
background: #EEEEEE;
font-style: normal;
font-weight: 400;
font-size: 16px;
width: 205px;
height: 19px;
cursor: pointer;
outline: none;

}