.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.App__wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.App__search-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 20vw;
}

.not-found {
  display: flex;
  color: #787878;
  font-weight: 400;
  font-size: 16px;
}